#nofound-img {
    height: 100%;
    max-height: 300px;
    width: auto;
}

#nofound-text {
    font-size: 50px;
    color:rgb(71, 89, 110);
}

#nofound-btn {
    margin-top: 30px;
    width: 100px;
}


@media (max-width: 500px) {
    #nofound-img {
        height: 100%;
        max-height: 150px;
        width: auto;
    }
    
    #nofound-text {
        font-size: 25px;
        color:rgb(71, 89, 110);
    }
  }

