<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div style="display: block; text-align: center;">
            <p id="nofound-text">{{'404.TITLE' | translate}}</p>
            <img src="../../../../assets/images/404.jpg" id="nofound-img">
            <br>
            <button routerLink=".." class="btn btn-primary" id="nofound-btn">{{'404.BUTTON' | translate}}</button>
        </div>
    </div>
</div>