@import './themes.scss';

@media (max-width: 400px) {
    .container {
        padding: 0 !important;
    }
    .box img {
        display: none;
    }
    
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--bg-box);
    height: auto;
    border-radius: 4px;
    font-size: 14px;
    -webkit-box-shadow: 0px 1px 23px -2px rgba(153, 27, 27, 0.05); 
    box-shadow: 0px 1px 23px -2px rgba(0,0,0,0.05);  
}

.box a {
    text-decoration: none !important;
    cursor: pointer;
    color: var(--special-text) !important;
}

.top-bar {
    background: var(--bg-special);
    border-radius: 4px 4px 0px 0px;
    min-height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0 !important;
}

.header {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--special-text);
}

.sub-text {
    font-size: 15px;
    color: var(--special-text);
}

form {
    padding: 50px 30px 50px 30px;
}

.form-control {
    background-color: var(--field-box) !important;
    border-color: var(--field-border) !important;
    color: var(--field-text) !important;
}

.is-invalid {
    border-color: #dc3545 !important;
  }

.box img {
    height: 100%;
    max-height: 100px;
    width: auto;
    margin-top: -20px;
    position: relative;
}


.btn-submit {
    margin-top: 20px;
    width: 100% !important; 
}

.bottom-text {
    margin: 30px;
    text-align: center;
}
