.toast-container>div{
    -webkit-box-shadow: none !important; 
    box-shadow: none !important;  
}

.toast-success {
    background-color: #34c38f;
}

.toast-info {
    background-color: #f3ce6a;
}

.toast-error {
    background-color: #f46a6a;
}
