@import './themes.scss';

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--sbr-color-secondary) !important;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

$footer-height: 56px;

/* NAVIGATION BAR */

@media (max-width: 400px) {
    .navbar-username {
        display: none;
    }
}

nav {
    height: 70px;
    font-size: 14px;
    padding: 0px 5px;
    background-color: var(--nav-bg) !important;
}

nav a {
    color: var(--color-main) !important;
    cursor: pointer;
}

.navbar-item {
    margin: 0px 10px;
    cursor: pointer;
}

.vertical-menu-btn {
    font-size: 16px !important;
    padding-left: 0px !important;
}

.navbar-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-avatar, .navbar-username {
    margin: 0px 2px;
}

.navbar-avatar {
    height: 36px;
    border-radius: 50%;
    border: solid var(--foo-bg) 3px;
}

.navbar-username::after {
    content: ' ';
    border: solid var(--color-main);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0px 5px;
    margin-bottom: 3px;
}

.logout-btn, .logout-btn i {
    color: #f46a6a !important;
}

.notification-btn i {
    font-size: 20px;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
}

.dropdown-menu.notification-list {
    width: 300px;
    // @media (max-width: 400px) {
    //     left: -263px !important;
    // }
}

.dropdown{
   display: flex;
}

/* SIDE BAR */
    .theme-switch::before {
        // padding-right: 16px !important;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 15px; 
        content: var(--theme-icon);
        cursor: pointer;
    }

    .sidebar {
        height: 100vh;
        background: var(--sbr-bg) !important;
    }

    .sidebar-menu-title {
        font-size: 12px;
        font-weight: bold;
        margin: 15px 0px 15px 0px;
        color: var(--sbr-color-secondary) !important;
    }

    /* SIDE BAR FULL */
    .sidebar-full {
        width: 230px;
        height: 100%;
        padding: 10px 24px !important;
        display: inline !important;
        overflow-y: scroll !important;
        overflow-y: overlay !important;
    }

    .sidebar-menu-item, .sidebar-sub-item {
        font-size: 14px;
        text-decoration: none !important;
        width: 100%;
    }

    .sidebar-menu-item {
        width: 100%;
    }

    .sidebar-menu-item {
        padding-left: 10px;
    }

    .sidebar-item-label, .sidebar-sub-item-label {
        margin-left: 5px;
        color: var(--sbr-color-primary);
    }

    .sidebar-item-icon {
        min-width: 20px;
    }

    .sidebar li {
        list-style: none;
        padding-top: 10px;
    }

    .sub-list li{
        padding-top: 5px !important;
    }

    .sidebar i, .sidebar a {
        color: var(--sbr-color-secondary) !important;
    }

    .sidebar .header i, .sidebar .header h1 {
        color: var(--sbr-header) !important;
    }

    .sidebar-sub-item:hover, .sidebar-menu-item:hover > *{
        color: var(--sbr-item-hover) !important;
        transition: 0.2s;
    }

    .item-active.sidebar-sub-item, .item-active i, .item-active span {
        color: var(--sbr-item-hover) !important;
    }

    /* SIDE BAR MINI */

    .hide {
        display: none !important;
    }

    .sidebar-mini {
        width: 70px;
    }

    .sidebar-item-minimalistic {
        cursor: pointer;
        width: 70px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .sidebar-item-minimalistic-title {
        font-size: 15px;
        width: 150px;
        min-height: 55px;
        background-color: var(--sbr-bg-item-hover);
        position: absolute;
        display: flex;
        align-items: center;
        left: 70px;
        top: 0px;
        padding-left: 10px;
    }

    .sidebar-item-minimalistic-list {
        background-color: var(--sbr-bg) !important;
        width: 150px;
        position: absolute;
        left: 70px;
        top: 55px !important;
        padding: 10px 10px 5px 10px;
    }

    .sidebar-subitem-minimalistic-list{
        background-color: var(--sbr-bg) !important;
        width: 150px;
        position: absolute;
        left: -200px !important;
        top: 55px !important;
        padding: 10px 10px 5px 10px;
    }

    .sidebar-item-minimalistic-subitem {
        font-size: 14px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .sidebar-item-minimalistic-subitem:hover {
        color: var(--sbr-item-hover) !important;
    }

    .sidebar-item-minimalistic:hover {
        background-color: var(--sbr-bg-item-hover);

        .sidebar-item-minimalistic-icon, .sidebar-item-minimalistic-title {
            color: var(--sbr-item-hover) !important;
        }
    }


/* FOOTER */
footer {
    background-color: var(--foo-bg) !important;
    height: $footer-height;
    color: var(--color-main) !important;
    font-size: 14px;
    display: flex;
    align-items: center !important;
    text-align: center;
}