$theme-colors: (
  "primary": #0074d9,
  "danger": #0074d9
);
$icon-color: 'a6b0cf';

/* LIGHT THEME */
body[data-theme='light']{

    /* ICONS */
    --theme-icon: "\f186";

    /* COLOR */
    --color-main: #74788d;
    
    /* BACKGROUND */
    --bg: #f8f8fb;
    --bg-box: white;
    --bg-special: #dde2ff;

    /* TEXT COLOR */
    --primary-text: #212529;
    --secondary-text: #495057;
    --tertiary-text: #b1b1b1;
    --special-text: #5390d9;

    /* INPUT FIELD */
    --field-bg: white;
    --field-border: #b1b1b1;
    --field-text: #212529;

    /* BUTTONS */
    --check-bg: white;
    --button-bg: #5390d9;
    --button-hover: #63a3f1;
    
    /* NAVIGATION */
    --nav-bg: #ffffff;
    --foo-bg: #f2f2f5;

    /* SIDEBAR */
    --sbr-color-primary: #a6b0cf;
    --sbr-color-secondary: #6a7187;
    --sbr-bg: #2a3042;
    --sbr-header: #f8f8fb;
    --sbr-item-hover: #f8f8fb;
    --sbr-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a6b0cf'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --sbr-arrow-active: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --sbr-bg-item-hover: #30374b;

}

/* DARK THEME */
body[data-theme='dark']{
  
    /* ICONS */
    --theme-icon: "\f185";

    /* COLOR */
    --color-main: #a6b0cf;

    /* BACKGROUND */
    --bg: #222736;
    --bg-box: #2a3042;
    --bg-special: #34406b;

    /* TEXT COLOR */
    --primary-text: #f6f6f6;
    --secondary-text: #c3cbe4;
    --tertiary-text: #79829c;
    --special-text: #556ee6;

    /* INPUT FIELD */
    --field-bg: #2a3042;
    --field-border: #79829c;
    --field-text: #E6E6E6;

    /* BUTTONS */
    --check-bg: #79829c;
    --button-bg: #556ee6;
    --button-hover: #778eff;

    /* NAVIGATION */
    --nav-bg: #262b3c;
    --foo-bg: #262b3c;

    /* SIDEBAR */
    --sbr-color-primary: #545a6d;
    --sbr-color-secondary: #7f8387;
    --sbr-bg: #ffffff;
    --sbr-header: #313850;
    --sbr-item-hover: #778eff;
    --sbr-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23545a6d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --sbr-arrow-active: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23778eff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --sbr-bg-item-hover: #f5f5f5;
}