<div class="container-fluid">
    <div class="row">
        <!--Sidebar column-->
        <div class="col-auto ">
            <app-sidebar [menuItems]="menuItems" [menuTitle]="'DASHBOARD.SIDEBAR.HEADER'"></app-sidebar>
        </div>
        <!--Content column-->
        <div class="col">
            <app-navbar></app-navbar>
            <!--Content-->
            <div class="wrapper">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>