<div class="container">
    <div class="auth-container">
        <div class="col" style="max-width: 450px;">
            <div class="box slide-top">
                <div class="row top-bar">
                    <div class="col">
                        <p class="header">{{'AUTH.RECOVER.TITLE' | translate}}</p>
                        <p class="sub-text">{{'AUTH.RECOVER.SUBTITLE' | translate}}</p>
                    </div>
                    <div class="col-auto">
                        <img src="../../../../assets/images/lock.svg" class="float-end">
                    </div>
                </div>
                <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
                    <!-- ======== EMAIL ======== -->
                    <div class="mb-3">
                        <label class="form-label primary-text">{{'AUTH.EMAIL' | translate}}</label>
                        <input type="text" formControlName="email" class="form-control"
                            placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{'AUTH.VALIDATION.EMAIL_EMPTY' | translate}}</div>
                            <div *ngIf="f.email.errors.email">{{'AUTH.VALIDATION.EMAIL_INCORRECT' | translate}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit">{{'AUTH.RECOVER.SUBMIT' |
                        translate}}</button>
                </form>
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="secondary-text" style="text-align: center;">{{'AUTH.RECOVER.BACK1' | translate}}
                        <a routerLink="/auth/login">{{'AUTH.RECOVER.BACK2' |
                            translate}}</a>
                    </p>
                </div>
            </div>
            <div class="bottom-text secondary-text">
                <p>{{'AUTH.FOOTER' | translate}}</p>
            </div>
        </div>
    </div>
</div>