<nav class="navbar navbar-expand">
    <button *ngIf="navigationService.hasSidebar" type="button" class="btn navbar-item vertical-menu-btn"
        (click)="navigationService.sidebarToggle()">
        <i class="fa fa-fw fa-bars"></i>
    </button>
    <div class="navbar-header me-auto">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-link">{{'NAVIGATION.NAVBAR.HOME' | translate}}</a>
            </li>
        </ul>
    </div>
    <div class="navbar-header ms-auto">
        <ul *ngIf="!authService.user" class="nav navbar-nav">
            <li>
                <button class="btn btn-primary" routerLink="/auth">{{'AUTH.LOGIN.SUBMIT' |
                    translate}}</button>
            </li>
        </ul>
        <ul *ngIf="authService.user" class="nav navbar-nav">
            <li class="navbar-item">
                <div class="dropdown">
                    <div class="notification-btn" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <i class="fas fa-bell"></i>
                        <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger">
                            3
                        </span>
                    </div>
                    <ul class="dropdown-menu notification-list dropdown-menu-end slide-top">
                        <li><a class="dropdown-item" routerLink='/dashboard'>
                                <i class="fas fa-user"></i> Konto</a></li>
                        <li><a class="dropdown-item" (click)="theme.changeTheme()">
                                <span class="theme-switch"></span> Tryb nocny
                            </a></li>

                        <hr class="dropdown-divider" style="margin: 5px;">

                        <li><a class="dropdown-item logout-btn" (click)="authService.logout()">
                                <i class="fas fa-power-off"></i> Wyloguj</a></li>
                    </ul>
                </div>
            </li>
            <li class="navbar-item">
                <div class="dropdown">
                    <div type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <img src='{{authService.user.avatar}}' class="navbar-avatar">
                        <span class="navbar-username">{{authService.user.username}}</span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-end slide-top">
                        <li><a class="dropdown-item" routerLink='/dashboard'>
                                <i class="fas fa-user"></i> Konto</a></li>
                        <li><a class="dropdown-item" (click)="theme.changeTheme()">
                                <span class="theme-switch"></span> Tryb nocny
                            </a></li>

                        <hr class="dropdown-divider" style="margin: 5px;">

                        <li><a class="dropdown-item logout-btn" (click)="authService.logout()">
                                <i class="fas fa-power-off"></i> Wyloguj</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>