<div class="container">
    <div class="auth-container">
        <div class="col" style="max-width: 450px;">
            <div class="box slide-top">
                <div class="row top-bar">
                    <div class="col">
                        <p class="header">{{'AUTH.LOGIN.TITLE' | translate}}</p>
                        <p class="sub-text">{{'AUTH.LOGIN.SUBTITLE' | translate}}</p>
                    </div>
                    <div class="col-auto">
                        <img src="../../../../assets/images/lock.svg" class="float-end">
                    </div>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <!-- ======== EMAIL ======== -->
                    <div class="mb-3">
                        <label class="form-label primary-text">{{'AUTH.EMAIL' | translate}}</label>
                        <input type="text" formControlName="email" class="form-control"
                            placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{'AUTH.VALIDATION.EMAIL_EMPTY' | translate}}</div>
                            <div *ngIf="f.email.errors.email">{{'AUTH.VALIDATION.EMAIL_INCORRECT' | translate}}</div>
                        </div>
                    </div>
                    <!-- ======== PASSWORD ======== -->
                    <div class="mb-3">
                        <label class="form-label primary-text">{{'AUTH.PASSWORD' | translate}}</label>
                        <input type="password" formControlName="password" class="form-control"
                            placeholder="{{'AUTH.PASSWORD_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">{{'AUTH.VALIDATION.PASSWORD_EMPTY' | translate}}
                            </div>
                            <div *ngIf="f.password.errors.minlength">
                                {{'AUTH.VALIDATION.PASSWORD_SHORT' | translate}}
                            </div>
                            <div *ngIf="f.password.errors.maxlength">
                                {{'AUTH.VALIDATION.PASSWORD_LONG' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input secondary-text" id="rememberCheck">
                        <label class="secondary-text">{{'AUTH.LOGIN.REMEMBER_CHECK' | translate}}</label>
                    </div>
                    <button class="btn btn-primary btn-submit">{{'AUTH.LOGIN.SUBMIT'
                        |
                        translate}}</button>
                </form>
                <div style="padding: 0px 30px 30px 30px;">
                    <a routerLink="/auth/recover" style="text-align: center;">
                        <p class="secondary-text"><i class="fa fa-unlock-alt"></i> {{'AUTH.LOGIN.FORGOT_PASSWORD' |
                            translate}}
                        </p>
                    </a>
                    <p class="secondary-text" style="text-align: center;">{{'AUTH.LOGIN.BACK1' |
                        translate}}
                        <a routerLink="/auth/signup">{{'AUTH.LOGIN.BACK2' |
                            translate}}</a>
                    </p>
                </div>
            </div>
            <div class="bottom-text secondary-text">
                <p>{{'AUTH.FOOTER' | translate}}</p>
            </div>
        </div>
    </div>
</div>