<div class="container">
    <div class="auth-container">
        <div class="col" style="max-width: 450px;">
            <div class="box slide-top">
                <div class="row top-bar">
                    <div class="col">
                        <p class="header">{{'AUTH.SIGNUP.TITLE' | translate}}</p>
                        <p class="sub-text">{{'AUTH.SIGNUP.SUBTITLE' | translate}}</p>
                    </div>
                    <div class="col-auto">
                        <img src="../../../../assets/images/lock.svg" class="float-end">
                    </div>
                </div>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <!-- ======== USERNAME ======== -->
                    <div class="mb-3">
                        <label class="form-label primary-text">{{'AUTH.USERNAME' | translate}}</label>
                        <input type="email" formControlName="username" class="form-control"
                            placeholder="{{'AUTH.USERNAME_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">{{'AUTH.VALIDATION.USERNAME_EMPTY' | translate}}
                            </div>
                            <div *ngIf="f.username.errors.minlength">
                                {{'AUTH.VALIDATION.USERNAME_SHORT' | translate}}
                            </div>
                            <div *ngIf="f.username.errors.maxlength">
                                {{'AUTH.VALIDATION.USERNAME_LONG' | translate}}
                            </div>
                        </div>
                    </div>
                    <!-- ======== EMAIL ======== -->
                    <div class="mb-3">
                        <label class="form-label primary-text">{{'AUTH.EMAIL' | translate}}</label>
                        <input type="text" formControlName="email" class="form-control"
                            placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{'AUTH.VALIDATION.EMAIL_EMPTY' | translate}}</div>
                            <div *ngIf="f.email.errors.email">{{'AUTH.VALIDATION.EMAIL_INCORRECT' | translate}}</div>
                        </div>
                    </div>
                    <!-- ======== PASSWORD ======== -->
                    <div class="mb-3">
                        <label class="form-label primary-text">{{'AUTH.PASSWORD' | translate}}</label>
                        <input type="password" formControlName="password" class="form-control"
                            placeholder="{{'AUTH.PASSWORD_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">{{'AUTH.VALIDATION.PASSWORD_EMPTY' | translate}}
                            </div>
                            <div *ngIf="f.password.errors.minlength">
                                {{'AUTH.VALIDATION.PASSWORD_SHORT' | translate}}
                            </div>
                            <div *ngIf="f.password.errors.maxlength">
                                H{{'AUTH.VALIDATION.PASSWORD_LONG' | translate}}
                            </div>
                        </div>
                    </div>
                    <!-- ======== CONFIRM PASSWORD ======== -->
                    <div class="mb-3">
                        <label class="form-label primary-text">{{'AUTH.CONFIRM' | translate}}</label>
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            placeholder="{{'AUTH.CONFIRM_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">
                                {{'AUTH.VALIDATION.CONFIRM_EMPTY' | translate}}
                            </div>
                            <div *ngIf="f.confirmPassword.errors.matching">
                                {{'AUTH.VALIDATION.CONFIRM_DIFFERENT' | translate}}
                            </div>
                        </div>
                    </div>
                    <!-- ======== ACCEPT TERMS ======== -->
                    <div class="mb-3 form-check">
                        <input type="checkbox" formControlName="acceptTerms" class="form-check-input secondary-text"
                            [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
                        <label class="primary-text">{{'AUTH.SIGNUP.TERMS_CHECK' | translate}}</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                            {{'AUTH.VALIDATION.TERMS' | translate}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit">{{'AUTH.SIGNUP.SUBMIT' |
                        translate}}</button>
                </form>
                <div style="padding: 0px 30px 30px 30px;">
                    <p class="secondary-text" style="text-align: center;">{{'AUTH.SIGNUP.BACK1' |
                        translate}}
                        <a routerLink="/auth/login">{{'AUTH.SIGNUP.BACK2' |
                            translate}}</a>
                    </p>
                </div>
            </div>
            <div class="bottom-text secondary-text">
                <p>{{'AUTH.FOOTER' |translate}}</p>
            </div>
        </div>
    </div>
</div>