@import "./assets/scss/auth.scss";
@import '~ngx-toastr/toastr';
@import './assets/scss/custom-toast.scss';
@import './assets/scss/themes.scss';
@import './assets/scss/navigation.scss';
@import './assets/scss/bootstrap-custom.scss';
@import "node_modules/bootstrap/scss/bootstrap";
@import './assets/scss/animations.scss';

body {
    background: var(--bg) !important;
    color: var(--color-main) !important;
}

i {
    color: var(--color-main) !important;
}

.form-check-input:checked {
    background-color: var(--button-bg) !important;
    border: 0px;
}

.form-check-input{
    cursor: pointer;
    background-color: var(--check-bg) !important;
    border: 0px;
}

.form-control {
    font-size: 14px !important;
}

.form-control::placeholder {
    color: var(--tertiary-text) !important;
}

* {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    min-height: calc(100vh - #{$footer-height} - 70px);
    
}

.col, .col-auto {
    padding: 0 !important;
}

.navbar .container-fluid {
    padding: 0 !important;
}

/* === TEXT === */ 

.primary-text{
    color: var(--primary-text);
    font-size: 14px;
}

.secondary-text{
    color: var(--secondary-text);
    font-size: 14px;
}
/* end TEXT end  */ 

/* === BUTTONS === */
.btn-primary {
    background: var(--button-bg) !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: var(--button-hover) !important;
}

/* end BUTONS end */

/* === BOOTSTRAP OUTLINE === */
textarea:focus, 
textarea.form-control:focus,
input.form-check-input:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none !important;
}
/* end BOOTSTRAP OUTLINE end */