<div *ngIf="navigationService.isMobileScreen || navigationService.collapseSidebar; then miniSidebar else fullSidebar">
</div>

<!-- FULL SIDEBAR -->
<ng-template #fullSidebar>
    <div class="sidebar d-flex flex-column">
        <!-- SIDEBAR HEADER-->
        <div class="header d-flex align-items-center text-decoration-none"
            style="align-self: center; margin: 15px 0px 15px 0px;">
            <i class="fab fa-angular fa-2x"></i>
            <h1 class="fs-5 sidebar-title" style="margin: 0px 5px 0px 5px;">
                {{title | translate }}
            </h1>
        </div>
        <!-- SIDEBAR CONTENT-->
        <!-- FULL CONTENT-->
        <ul class="sidebar-full content nav nav-pills flex-column mb-auto">
            <ng-container *ngFor="let item of items; let i = index;">
                <li class="sidebar-menu-title" *ngIf="item.isTitle">{{ item.label | translate }}</li>
                <li style="width: 100%;" class="accordion accordion-flush" *ngIf="!item.isTitle && !item.isLayout">
                    <div class="accordion-item">
                        <a *ngIf="hasItems(item)" class="sidebar-menu-item accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" href="#item-{{ i }}">
                            <i class="sidebar-item-icon {{item.icon}}" *ngIf="item.icon"></i>
                            <span class="sidebar-item-label"> {{ item.label | translate }}</span>
                        </a>

                        <a [routerLink]="item.link" [routerLinkActive]="'item-active'" *ngIf="!hasItems(item)"
                            class="sidebar-menu-item">
                            <i class="sidebar-item-icon {{ item.icon }}" *ngIf="item.icon"></i>
                            <span class="sidebar-item-label">{{ item.label | translate }}</span>
                        </a>

                        <div id="item-{{ i }}" class="sub-list accordion-collapse collapse">
                            <ul *ngIf="hasItems(item)">
                                <li *ngFor="let subitem of item.subItems; let i = index;"
                                    class="accordion accordion-flush">
                                    <a [routerLink]="subitem.link" [routerLinkActive]="'item-active'"
                                        *ngIf="!hasItems(subitem)" class="sidebar-sub-item">
                                        {{ subitem.label | translate}}
                                    </a>
                                    <a *ngIf="hasItems(subitem)" class="sidebar-sub-item side-nav-link-a-ref"
                                        [attr.data-parent]="subitem.parentId" type="button" href="#subitem-{{ i }}">
                                        {{ subitem.label | translate}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</ng-template>

<ng-template #miniSidebar>
    <!-- MINIMALISTIC CONTENT-->
    <div *ngIf="!navigationService.mobileCollapseSidebar" class="sidebar d-flex flex-column">
        <!-- SIDEBAR HEADER-->
        <div class="header d-flex align-items-center text-decoration-none"
            style="align-self: center; margin: 15px 0px 15px 0px;">
            <i class="fab fa-angular fa-2x"></i>
        </div>
        <ul class="content nav nav-pills flex-column mb-auto">
            <ng-container *ngFor="let item of items; let i = index;">
                <div *ngIf="!item.isTitle && !item.isLayout" (mouseenter)="navigationService.onHover(i)"
                    (mouseleave)="navigationService.onHover(-1)" class="sidebar-item-minimalistic">
                    <i class="sidebar-item-minimalistic-icon {{item.icon}} fa-lg" *ngIf="item.icon"></i>
                    <div *ngIf="i===navigationService.itemOnHover">
                        <div *ngIf="!hasItems(item)">
                            <div class="sidebar-item-minimalistic-label">
                                <a [routerLink]="item.link" routerLinkActive="active"
                                    class="sidebar-item-minimalistic-title sidebar-sub-item">{{ item.label | translate
                                    }}</a>
                            </div>
                        </div>
                        <div *ngIf="hasItems(item)"
                            class="sidebar-item-minimalistic-label sidebar-item-minimalistic-title">
                            {{ item.label |
                            translate }}</div>
                        <div *ngIf="hasItems(item)" class="sidebar-item-minimalistic-list">
                            <div *ngFor="let subitem of item.subItems; let i = index;">
                                <div class="sidebar-item-minimalistic-subitem">
                                    <a [routerLink]="subitem.link" [routerLinkActive]="'item-active'"
                                        routerLinkActive="active" class="sidebar-sub-item">
                                        {{ subitem.label | translate}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ul>
    </div>
</ng-template>