<!-- <app-navbar></app-navbar>
<div class="wrapper">
    <div style="height: 10px; padding: 8px 24px;">Home Page</div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
 -->

<div class="container-fluid">
    <div class="row">
        <!--Sidebar column-->
        <div class="col-auto ">
            <app-sidebar [menuItems]="menuItems" [menuTitle]="'HOME.SIDEBAR.HEADER'"></app-sidebar>
        </div>
        <!--Content column-->
        <div class="col">
            <app-navbar></app-navbar>
            <!--Content-->
            <div class="wrapper">
                <div style="height: 10px; padding: 8px 24px;">Home Content</div>
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>